<h2 class="col-md-9" align="center">Create a contestant</h2>
<div class="col-md-9">
<%= render 'form', contestant: @contestant %>
</div>



<!--Side content-->
<div class="col-md-3">
 something
 
</div>
