
<div class="jumbotron center">
 <h1 align="center">Welcome to Ezyvote</h1>  
 <h2 align="center">The best Pageant Voting app</h2>
 <p><%= link_to "Login With Facebook", "#", class: "btn btn-danger btn-lg btn-xlarge center" %></p>
</div>
