<div class="row">
<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading"><h2 align="center">Contact us </h2></div>
  <div class="panel-body">
    For Questions and Inquiry, please send mail to <b>inquiry@ezyvote.com</b>. We will respond to you as soon
    as possible, we value your response to us.
    <p>
        For any query about Premium voting, please send it to <b>sales@ezyvote.com</b>. We will be able to respond</br>
        to you to answer your questions.
        
    </p>
  </div>
</div>
</div>
<!--Side content goes here-->
<div class="col-m-4">
 <h3 align="center">Current Pageants</h3>
</div>
</div>