<!--<p id="notice"></p>-->
<h2 align="center">Contestants</h2><hr/>

<% @pageants.each do |pageant| %>
      <div class="col-sm-6 col-md-3">
        <div class="=thumbnail thumb-box">
          <h3 class="triad"><%= link_to pageant.pageant_name, pageant_path(pageant) %></h3>
          <%= image_tag( pageant.image, size: "180x180" ) %>
        </div>
      </div>
      <% end %>
    

